body {    
  margin: 0 !important;
  padding: 0 !important;
}

.navbar-nav { 
  flex-direction: row;
}

#content {
  padding-top: 40px;
}

nav ul li a {
   margin-left: 20px;
}

nav ul {
  margin: 0;
  padding: 0; 
  list-style-type: none;
}

.card .card-footer {
  text-align: center;
}

.card .card-footer .btn{
  width: 12em;
}

.card {
  margin: 20px;
  height: 35em;
  width: 320px; 
}

.card .card-body{
  width: 320px;
}

/*Does this work?*/ 
.card .card-body .card-text{
  width: 100%;
  height: auto;
}

.flex-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}