<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dominik Yakoubek's Portfolio :: {{ page.title }}</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="globalstyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
      <header>
        <nav class="defaultnav" id="mynav">
            <ul>
                <li><a id="active" style="font-weight: 900;" href="index.html">Dominik Yakoubek</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="about.html">About me</a></li>
                <li><a href="resume.html">Resume</a></li>
                <li><a href="https://github.com/TheKLegacy" target="_blank">Github</a></li>
            </ul>
        </nav>
      </header>
      <main id="content">
        {{ content }}
      </main>
      <footer>

      </footer>
  </body>
</html>
